.input {
    outline: none;
    height: 30px;
    font-size: 1rem;
    padding: 0 10px;

    border-radius: 10px;
    background: #E5E1FF;
}

.input.error {
    border: 1px solid red;
}

.input:hover {
    background: #edeafd;
}
