.user_queue {
    height: 100%;
    width: 1200px;

    margin: 0 auto;
    padding-bottom: 10px;

    background: #7D789B;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}