
.header {
    height: 50px;
    width: 100%;
    min-width: 1300px;

    position: sticky;
    left: 0;
    top: 0;

    background: #CFC8FF;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.header h1 {
    font-size: 33px;
    color: #331cc4;
    cursor: pointer;

    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
