.tile {
    margin-top: 20px;

    height: 230px;
    width: 1100px;

    border-radius: 25px;
    background: #bfbadb;

    display: flex;
}

.animeInfo {
    width: 800px;
    display: flex;
    align-items: center;
}

.views {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 40px;
}

.rank {
    height: 80px;
    width: 80px;

    background: #FEF1B0;
    border-radius: 50%;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animeImg {
    width: 150px;
    height: 200px;
    margin: 0 50px;

    border: 3px solid #331CC4;
    border-radius: 5px;
}

.rankText {
    text-align: center;
    font-size: 10px;
}

.watchingText {
    font-size: 13px;
    margin-top: 10px;
}

.animeDescription {
    height: 200px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animeName {
    margin: 0;
    font-size: 40px;
    color: #241A5E;
}

.episodeNum {
    font-size: 1.5rem;
    color: #4729FF;
}

.timeInfo {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeStart {
    font-size: 30px;
    margin: 0;
    color: #241A5E;
}

.timeLeft {
    height: 50px;
    width: 250px;

    border-radius: 25px;
    margin: 10px 0;

    background: #FEF1B0;
    color: #331CC4;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 16px;
}

.removeButton {
    width: 30px;
    height: 30px;

    top: 10px;
    right: 15px;
    border-radius: 50%;

    background: #F45D5D;
    position: relative;
}

.removeButton:hover {
    background: #f17070;
}

.removeButton:active {
    background: #F45D5D;
    transform: scale(0.95);
}
