.nav {
    top: 0;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}