.profile_menu {
    margin-right: 10px;
}

.profile {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

.profile:after {
    content: "\f107";
    font-family: FontAwesome, serif;
}

.profile_name {
    margin: 0;
    font-size: 20px;
    right: 0;
}

.avatar {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.submenu {
    padding: 5px;
    list-style: none;
    margin: 0;
    border-radius: 0 0 25px 25px;
    background: #CFC8FF;
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
    width: 50px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .3s ease-in-out;
}

.profile:hover + .submenu, .submenu:hover{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.img {
    height: 50px;
    width: 50px;
}

.img:hover {
    cursor: pointer;
}

.img:active {
    transform: scale(0.9);
}